{% extends "layout.html" %}

{%block title %}
<title>WhereHaveIBeen Map</title>
{%endblock%}

{% block main %}


<!-- Get OwnTracks server info so we can read data from it -->
<div id="map-container">
    <div class="form-popup" id="myForm">
        <form action="/login" method="POST">

            <h3>Enter OwnTrack Login and URL</h3>

            <input type='text' placeholder='username' name='username' autocomplete="on" />
            <input type='password' placeholder='password' name='password' autocomplete="on" />
            <input type='serverurl' placeholder='https://[your domain]' name='serverurl' autocomplete="on" /></p>
            <input class="btn btn-success" type='submit' value='Login' />
        </form>
    </div>

    <div id="map"></div>



    <div id="map-shadow"></div>
</div>
<script>
    //debuggingTest();

    var latlngs;
    // Initialize the map
    var map = L.map('map').setView([37.7749, -122.4194], 13);

    // Add a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    async function runTasks() {
        //how many steps to progress bar
        setProgressBarNumSteps(7);

        //check if logged in
        const loggedIn = await checkIfLoggedIn();

        if (loggedIn) {
            closeForm();
            updateProgressBar();

            //locations
            const data = await fetchLocations();
            updateProgressBar();

            //filter data
            const latlngs = await filterData(data)
            updateProgressBar();

            //get owntracks stats
            getOwntracksStats(data);

            //drawing buffer
            if (latlngs.length > 1) {
                let linestring;

                //complex route buffer can only handle 500 points or less
                //simple route buffer can handle any number, but gets pretty slow north of 3000
                //no route is much quicker, but less accurate. Use the minDistance value to adjust accuracy. 
                //Points between .01km of each other will be skipped if you pass in .01km
                if (data.features.length < 500) {
                    linestring = await calculateComplexRoute(latlngs);
                } else if (data.features.length < 3000) {
                    linestring = await calculateSimpleRoute(latlngs);
                } else if (data.features.length < 5000) {
                    linestring = await calculateNoRoute(latlngs, 0.01);
                } else {
                    linestring = await calculateNoRoute(latlngs, 0.1);
                }
                updateProgressBar();

                const buffered = await drawBuffer(linestring, 0.01);
                updateProgressBar();

                //get stats
                getCoverageStats(buffered, linestring);
                updateProgressBar();

            }
        } else {
            openForm();
        }
    }

    //run on page load
    window.onload = function () {

        //load user settings
        getUserSettings();

        // find users and devices, then calculate route for the first entry
        getUsersAndDevices().then(usersAndDevices => {

            // if no users, not logged in
            if (usersAndDevices != -1) {
                runTasks();
            }
        });
    };


</script>


<div id="progressBar">
    <div id="progressBarInner"></div>
</div>


<div id="infoBox">

    <div id="leftPanel">
        <!-- MAP CONTROLS -->

        <div class="innerPanel">
            <div class="titlePanel">
                <h1> Filters </h1>
                <p class="settingInfo">Is your data showing incorrectly on the map? Try adjusting these settings. Make
                    sure
                    the user and device are correct, and try changing time frame.</p>

            </div>

            <div class="subPanel">
                <h4>Choose a user and device</h4>
                <p class="settingInfo">Choose which device to track. This is your OwnTracks user and device.</p>


                <select class="form-select" id="userBox">
                    <option value="" selected disabled>Choose a user</option>
                </select>
                <select class="form-select" id="deviceBox">
                    <option value="" selected disabled>Choose a device</option>
                </select>
            </div>


            <div class="subPanel">
                <h4>Time frame</h4>
                <p class="settingInfo">Filter the map to only shows GPS data between these two dates.</p>
                <div class="dateFilters" style="float:left; width: 50%;">
                    <h5>Start Date </h5>

                    <input type="date" class="input-group date" id="startBox" onkeyup="" name="trip-start"
                        value="2015-01-01" min="2015-01-01" max="2099-12-31" />
                </div>
                <div class="dateFilters" style="float:left; width: 50%;">
                    <h5>End Date </h5>
                    <input type="date" class="input-group date" id="endBox" onkeyup="" name="trip-start"
                        value="2099-12-31" min="2015-01-01" max="2099-12-31" />
                </div>

                <input type="button" class="btn btn-primary time-period-btn" value="Last Month"
                    onclick="changeDateRange('month')" />
                <input type="button" class="btn btn-primary time-period-btn" value="Last Week"
                    onclick="changeDateRange('week')" />
                <input type="button" class="btn btn-primary time-period-btn" value="Yesterday"
                    onclick="changeDateRange('day')" />
                <input type="button" class="btn btn-primary time-period-btn" value="Today"
                    onclick="changeDateRange('today')" />

            </div>
            <div class="subPanel">
                <h4>Apply Filters</h4>
                <input type="button" class="btn btn-primary" value="Apply" onclick="resetMap(map)" />
            </div>
        </div>

        <div class="innerPanel">
            <div class="titlePanel">
                <h1>Visual settings</h1>
            </div>

            <div class="subPanel">
                <h4>Map Settings</h4>
                <p class="settingInfo">Adjust settings about the way the routes and blue area buffer are drawn on the
                    map.</p>
                <h5>Hide Route <span class="info-icon">i
                        <span class="tooltip-text">The route is only drawn when less than 500 GPS
                            points are used. Adjust the date filters to see this!</span>
                    </span></h5>
                <input type="button" class="btn btn-danger" value="Remove Route" onclick="eraseRoute(map)" />

                <h5>Buffer Size <span class="info-icon">i
                        <span class="tooltip-text">Change how large of a buffer is drawn around your route in
                            kilometers.
                            Note that larger values take longer to draw.</span>
                    </span></h5>

                <p class="settingInfo">Default: 0.5km</p>
                <input type="number" class="form-control form-control-lg" id="circleSize" value="0.5" step="0.1"
                    min="0.1" max="10" />
            </div>

            <div class="subPanel">
                <h4>Routing Settings</h4>
                <p class="settingInfo">Change the URL of the routing engine if you host your own or want to use the
                    public OSRM one.</p>
                <h5>Custom OSRM Router <span class="info-icon">i
                        <span class="tooltip-text">Change the URL used for the OSRM router</span>
                    </span></h5>

                <p class="settingInfo">Default: leave blank</p>
                <input type="url" class="form-control form-control-lg" id="osrmURL" value="" />
            </div>

            <div class="subPanel">
                <h4>Save and Apply Settings</h4>
                <input type="button" class="btn btn-primary" value="Apply" id="applySettingsButton"
                    onclick="resetMap(map)" />
            </div>
        </div>
    </div>
    <div id="rightPanel">
        <!-- MAP INFO -->
        <div class="titlePanel">
            <h1 id="title">Information </h1>
            <p> This map shows the location history of the devices that are sending their location data to the Owntracks
                server. <a href="/about">Learn more.</a>
            </p>
        </div>

        <div class="subPanel">
            <h4>Total distance driven <span class="info-icon">i
                    <span class="tooltip-text">Note! This can be quite inaccurate over a large date range as there are
                        some
                        shortcuts in this calculation.</span>
                </span> </h4>
            <div id="totalDist"> </div>

            <h4>Area explored is </h4>
            <div id="totalArea"></div>

            <h4>Percentage of west coast covered <span class="info-icon">i
                    <span class="tooltip-text">Calculated by dividing your area explored by 863,428km, the area of
                        Washington, Oregon, and California.</span>
                </span> </h4>
            <div id="totalAreaPct"></div>

            <h4>Highest Altitude</h4>
            <div id="highestAltitude"></div>

            <h4>Highest Velocity</h4>
            <div id="highestVelocity"></div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>
    document.getElementById('applySettingsButton').addEventListener('click', function () {
        fetch('/save_settings', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                circleSize: document.getElementById('circleSize').value,
                osrmURL: document.getElementById('osrmURL').value
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Settings saved:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

</script>

{% endblock %}