{% extends "layout.html" %}

{%block title %}
<title>OwnTracks Map</title>
{%endblock%}

{% block main %}


<!-- Get OwnTracks server info so we can read data from it -->
<div>
    <div class="form-popup" id="myForm">
        <form action="/setcookie" method="POST">

            <h3>Enter OwnTrack Login and URL</h3>

            <input type='text' placeholder='username' name='username' />
            <input type='password' placeholder='password' name='password' />
            <input type='serverurl' placeholder='https://[your domain]' name='serverurl' /></p>
            <input type='submit' value='Login' />
        </form>
    </div>

    <div id="map"></div>
</div>
<script>
    // todo: use these to handle move entries
    var qualityInverse = 3;
    var circleSize = 0.5;


    var control;
    // Initialize the map
    var map = L.map('map').setView([37.7749, -122.4194], 13);

    // Add a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    //handles all data retrieval and drawing on points/routes on map
    function fetchLocations() {
        fetch('/locations?' + new URLSearchParams({
            startdate: document.getElementById('startBox').value,
            enddate: document.getElementById('endBox').value,
            user: document.getElementById('userBox').value,
            device: document.getElementById('deviceBox').value
        }).toString())
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Successfully retrieved data, hide login prompt
                closeForm();

                if (data.features && Array.isArray(data.features)) {
                    // Create an array to hold the coordinates
                    var latlngs = [];

                    data.features.forEach(feature => {
                        if (feature.geometry && feature.geometry.coordinates) {
                            const [lng, lat] = feature.geometry.coordinates;
                            // Add coordinates to the array
                            latlngs.push([lat, lng]);
                            // Add marker to the map
                            //L.marker([lat, lng]).addTo(map)
                            //.bindPopup(`<b>${feature.properties.name}</b><br>Velocity: ${feature.properties.vel} km/h`);
                        }
                    });

                    // Get selected buffering method
                    var bufferingMethod = document.getElementById('bufferMethod').value;

                    if (latlngs.length > 1) {
                        if (bufferingMethod === 'complexRoute') {
                            bufferComplexRoute(latlngs);
                        } else if (bufferingMethod === 'simpleRoute') {
                            bufferSimpleRoute(latlngs);
                        }
                    }
                } else {
                    console.error('Unexpected data format:', data);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }

    function bufferComplexRoute(latlngs) {
        drawRoute(latlngs);

        control.hide(); // Hide the route line

        // Listen for the routesfound event
        control.on('routesfound', function (e) {
            var routes = e.routes;
            var summary = routes[0].summary; // Get the first route's summary
            var totalDistance = summary.totalDistance; // Distance in meters

            // Convert distance to kilometers
            var distanceKm = (totalDistance / 1000).toFixed(2); // Convert to km
            document.getElementById('totalDist').innerHTML = "<p>" + distanceKm + " km</p>";

            // Create a lineString for buffering based on the actual route
            var routeCoords = routes[0].coordinates.map(coord => [coord.lng, coord.lat]);
            var lineString = turf.lineString(routeCoords);

            // Simplify the route before buffering
            var simplifiedLineString = turf.simplify(lineString, { tolerance: .001, highQuality: false });

            // Buffer the route with Turf.js
            var buffered = turf.buffer(simplifiedLineString, circleSize, { units: 'kilometers' });

            // Convert the buffer to GeoJSON and add it to the map
            var bufferLayer = L.geoJSON(buffered, {
                style: function () {
                    return { color: 'rgba(0, 0, 255, 0.4)', weight: 2 };
                }
            }).addTo(map);

            // Adjust the view to show the entire buffered area
            var bounds = bufferLayer.getBounds();
            map.fitBounds(bounds);

            // Calculate the total area of the route
            var area = turf.area(buffered) / 1e6; // Convert m² to km²
            document.getElementById('totalArea').innerHTML = "<p>" + Math.round(area * 100) / 100 + "km²" + "</p>";
            document.getElementById('totalAreaPct').innerHTML = "<p>" + area / 863440 + "%" + "</p>";
        });
    }

    function bufferSimpleRoute(latlngs) {
        // Draw a route connecting all points
        if (latlngs.length > 1) {
            drawRoute(latlngs);

            control.hide(); // Hide the route line

            // Create a lineString for buffering
            var lineString = turf.lineString(latlngs.map(latlng => [latlng[1], latlng[0]])); // [lng, lat]

            // Buffer the route with Turf.js
            var buffered = turf.buffer(lineString, circleSize, { units: 'kilometers' }); // 1 km buffer

            // Convert the buffer to GeoJSON and add it to the map
            var bufferLayer = L.geoJSON(buffered, {
                style: function () {
                    return { color: 'rgba(0, 0, 255, 0.4)', weight: 2 };
                }
            }).addTo(map);

            // Listen for the routesfound event
            control.on('routesfound', function (e) {
                var routes = e.routes;
                var summary = routes[0].summary; // Get the first route's summary
                var totalDistance = summary.totalDistance; // Distance in meters

                // Convert distance to kilometers
                var distanceKm = (totalDistance / 1000).toFixed(2); // Convert to km

                document.getElementById('totalDist').innerHTML = "<p>" + distanceKm + " km</p>";
            });

            // Adjust the view to show all markers, circles, and the polyline
            var bounds = L.latLngBounds(latlngs);
            map.fitBounds(bounds);

            // Calculate the total area of the route
            area = turf.area(buffered) / 1e6; // Convert m² to km²

            document.getElementById('totalArea').innerHTML = "<p>" + Math.round(area * 100) / 100 + "km²" + "</p>";

            document.getElementById('totalAreaPct').innerHTML = "<p>" + area / 863440 + "%" + "</p>";



        }
    }

    function drawRoute(latlngs) {
        control = L.routing.control({
            waypoints: latlngs
                .filter((_, index) => index % qualityInverse === 0) // Filter to include only every other entry
                .map(latlng => L.latLng(latlng[0], latlng[1])),
            router: L.Routing.osrmv1({ serviceUrl: '/proxy' }),
            routeWhileDragging: true,
            createMarker: function () { return null; }, // Disable default marker
        }).addTo(map);
    }



</script>

<div id="infoBox">
    <div id="leftPanel">
        <!-- MAP INFO -->
        <h1 id="title">Information </h1>
        <p> This map shows the location of the devices that are sending their location data to the Owntracks server.
        </p>

        <h4>Total distance driven </h4>
        <div id="totalDist"></div>

        <h4>Area explored is </h4>
        <div id="totalArea"></div>

        <h4>Percentage of west coast covered </h4>
        <div id="totalAreaPct"></div>
    </div>
    <div id="rightPanel">
        <!-- MAP CONTROLS -->
        <h1>User </h1>
        <!--<form action="#" onsubmit="filterMap()">-->
        <input type="text" id="userBox" onkeyup="" placeholder="User (ex. roman)" value="" />
        <input type="text" id="deviceBox" onkeyup="" placeholder="Device (ex. romaniphone)" value="" />
        <input type="submit" onsubmit="filterMap()" style="display: none" />
        <!--</form>-->
        <p></p>

        <select id="bufferMethod">
            <option value="complexRoute">Complex Route Buffer</option>
            <option value="simpleRoute">Simple Route Buffer</option>
        </select>


        <h1 id="title">Remove Elements </h1>

        <input type="button" value="Remove Route" onclick="eraseRoute()" />
        <input type="button" value="Remove Markers" onclick="eraseMarkers()" />
        <input type="button" value="Refresh" onclick="filterMap()" />

        <p></p>

        <h1 id="title">Filter Data </h1>
        <div style="float:left; width: 50%;">
            <h4>Start Date </h4>

            <input type="date" id="startBox" onkeyup="" name="trip-start" value="2015-01-01" min="2015-01-01"
                max="2099-12-31" />
        </div>
        <div style="float:left; width: 50%;">
            <h4>End Date </h4>
            <input type="date" id="endBox" onkeyup="" name="trip-start" value="2099-12-31" min="2015-01-01"
                max="2099-12-31" />
        </div>
        <p></p>

        <input type="button" value="Submit" onclick="filterMap()" />
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    function filterMap() {
        console.log("Filtering map");

        try {
            eraseRoute();
            eraseLayers();
        }
        catch (err) {
            console.log("No map data to erase");
        }


        //Remake route
        // Add a tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        fetchLocations();
    }

    function eraseRoute() {
        map.removeControl(control);
    }

    function eraseMarkers() {
        map.eachLayer((layer) => {
            if (layer instanceof L.Marker) {
                layer.remove();
            }
        });
    }

    function eraseLayers() {
        map.eachLayer((layer) => {
            layer.remove();
        });
    }

</script>

<script>
    fetchLocations();

    function openForm() {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("sign_out").style.display = "none"
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("sign_out").style.display = "block";
    }

</script>

{% endblock %}