<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}{% endblock %}

    <!-- Leaflet maps and routing -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <!-- Buffer drawing and math -->
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>

    <!-- Bootstrap and jquery for visuals and navbar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Custom CSS and scripts -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/static/favicon/wherehaveibeen.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WhereHaveIBeen</a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/setup">Set Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://owntracks.org/">OwnTracks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sign_out" href="/sign_out">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <script> jQuery(function ($) {
                var path = window.location.href;
                // because the 'href' property of the DOM element is the absolute path
                $('ul a').each(function () {
                    if (this.href === path) {
                        $(this).addClass('active');
                    }
                });
            });</script>
    </nav>
    {% block main %}{% endblock %}
</body>

{% block scripts %}{% endblock %}

</html>